@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

footer {
            // This is temporary, until page has more content
            bottom: 0;
            
  position: fixed;
  left: 0;
  right: 0;
  height: 210px;
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img { height: 32px }
}