@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-weight: 500;
}

/* Makes the display be at least one screen high, 
   so that footer is always on bottom */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    * { max-width: 1440px }
}

/* This equation makes the font 4px bigger per 100px of screen width, 
from 12px for 400px, to 24px for 1000px, progressively. Then, it's capped. */
@media (min-width: 400px) { body { font-size: calc(12px + 6 * ((100vw - 400px) / 600)) }}
@media (min-width: 1000px) { body { font-size: 18px }}
@media (min-width: 1440px) { body { overflow-x: hidden }}