// error 404 page
// displays Header, "404" in 288px font, "Oups, la page que vous demandez n'existe pas." in 36px font, and link to
// home page (with text "Retourner sur la page d’accueil")

.not-found {
    text-align: center;
    h1 { 
        font-size: 288px;
        margin: 50px auto;
    }
    h2 { font-size:  36px }
    a { color: #FF6060 }
}