.tag {
    display: inline-block;
    line-height: 1.7;
    background-color: #FF6060;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    width: 84px;
    min-height: 18px;
    height: fit-content;
    @media (min-width: 400px) {
        font-size: calc(10px + (14 - 10) * ((100vw - 400px) / 600));
        width: calc(84px + (115 - 84) * ((100vw - 400px) / 600));
        min-height: calc(18px + (25 - 18) * ((100vw - 400px) / 600));
        border-radius: calc(5px + 5 * ((100vw - 400px) / 600));
    }
    @media (min-width: 1000px) {
        font-size: 14px;
        width: 115px;
        min-height: 25px;
        border-radius: 10px;
    }
}